<footer id="footer" class="app-footer" role="footer">
	<div class="wrapper bg-light">
      <span class="pull-right hidden-xs text-ellipsis">
            Powered by <a target="_blank" href="/">www.glping.net</a>
      </span>
		<span class="text-ellipsis">©&nbsp;2020 Copyright &nbsp;&nbsp;&nbsp;{$config.web_site_icp}    {:config('web_site_statistics')}</span>
	</div>
	<style>
		.topButton>.btn{
			top: 0;
		}
	</style>

	<div class="topButton panel panel-default">
		<button id="goToTop" class="btn btn-default no-shadow pos-abt hide  border-radius-half-left" data-toggle="tooltip" data-placement="left" data-original-title="返回顶部">
			<i class="fontello fontello-chevron-circle-up" aria-hidden="true"></i>
		</button>
	</div>
</footer>
